@media (min-width: 1200px) and (max-width: 1568px){
    .hero-social{
        display: none;
    }
    .hero-dec-top{
        display: none;
    }
    .hero-dec-bottom{
        display: none;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    /*HEADER __------HEADER --__------HEADER -----HEADER*/
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /*HEADER __------HEADER --__------HEADER -----HEADER*/
    .header{
   
        .header-inner{
            .hero-overlay{
                .hero-social{
                    display: none;
                }
                .hero-dec-top{
                    display: none;
                }
                .hero-dec-bottom{
                    display: none;
                }
                .hero-caption-parent{
                    .container{
                        h4{
                            font-size: 15px;
                        }
                        h1{
                            font-size: 45px;
                            line-height: 60px;
                        }
                        .click-menu{
                            padding: 14px 18px;
                            font-size: 13px;
                            font-weight: 700;
                            i{
                                margin-left: 30px;
                                margin-bottom: 3px;
                            }   
                        }
                    }
                }
            }
            .container{
                
                .header-top{
                    padding: 10px 0;

                    .header-contact{
                        li{
                            margin: 0 15px;
                        }
                    }
                }
                .hide-hBottom{     
                    transform: translateY(-44px);
                }
            }
        }
        .embedded-video-parent{
            iframe{
                width: 890px !important;
            }
        }
    }
 }




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    /*HEADER __------HEADER --__------HEADER -----HEADER*/
    .header{
   
        .header-inner{
            .hero-overlay{
                .hero-social{
                    display: none;
                }
                .hero-dec-top{
                    display: none;
                }
                .hero-dec-bottom{
                    display: none;
                }
                .hero-caption-parent{
                    .container{
                        padding: 0 30px;
                        h4{
                            font-size: 15px;
                        }
                        h1{
                            font-size: 45px;
                            line-height: 60px;
                        }
                        .click-menu{
                            padding: 14px 18px;
                            font-size: 13px;
                            font-weight: 700;
                            i{
                                margin-left: 30px;
                                margin-bottom: 3px;
                            }   
                        }
                    }
                }
            }
            .container{
                padding: 0 30px;
                .header-top{
                    padding: 10px 0;

                    .header-contact{
                        li{
                            margin: 0 15px;
                        }
                    }
                }
                .header-bottom{
                    .header-bottom-inner{
                        .navbar{
                            .navbar-toggler{
                                margin-left: auto;
                                padding: 0 26px;
                                border-left: 1px solid #e2e2e2;
                                align-self: stretch;
                                outline: none;
                                .navbar-toggler-icon{
                                    width: 25px;
                                    height: 25px;
                                    img{
                                        width: 25px;
                                        display: block;
                            
                                    }
                                }
                            }
                            .collapse{
                                background-color: $blackText;
                                position: absolute;
                                top: 69px;
                                right: 0;
                                width: 45%;
                                padding: 20px 40px;
                                .nav-item{
                                    .nav-link{
                                        color: $white;
                                        padding: 10px 0;
                                    }
                                    .dropdown-menu{
                                        background-color: $blackText;
                                        .dropdown-item{
                                            color: $white !important;
                                        }
                                    }
                                }
                            }
                            .show-collapse{
                                display: block;
                                z-index: 100;
                                opacity: 1;
                                
                            }
                            .hide-collapse{
                                display: none;
                                z-index: -100;
                                opacity: 0;
                            }
                            .cta-header{
                                ul{
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
                .hide-hBottom{     
                    transform: translateY(-44px);
                }
            }
        }
        .hero-dec-footer{
            .container{
                @include container;
                padding:  0 30px;   
            }
        }
        .brush-bottom{
            position: absolute;
            bottom: -1px;
            z-index: 12;
        }
        
    }
 }




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
     /*HEADER __------HEADER --__------HEADER -----HEADER*/
     .header{
   
        .header-inner{
            .hero-overlay{
                .hero-social{
                    display: none;
                }
                .hero-dec-top{
                    display: none;
                }
                .hero-dec-bottom{
                    display: none;
                }
                .hero-caption-parent{
                    .container{
                        padding: 0 30px;
                        h4{
                            font-size: 15px;
                        }
                        h1{
                            font-size: 40px;
                            line-height: 60px;
                        }
                        .click-menu{
                            padding: 14px 18px;
                            font-size: 13px;
                            font-weight: 700;
                            i{
                                margin-left: 30px;
                                margin-bottom: 3px;
                            }   
                        }
                    }
                }
            }
            .container{
                padding: 0 00px;
                .header-top{
                    padding: 10px 0;

                    .header-contact{
                        li{
                            margin: 0 15px;
                        }
                    }
                }
                .header-bottom{
                    border-left: none;
                    border-right: none;
                    .header-bottom-inner{
                        .navbar{
                            .navbar-toggler{
                                margin-left: auto;
                                padding: 0 26px;
                                border-left: 1px solid #e2e2e2;
                                align-self: stretch;
                                outline: none;
                                .navbar-toggler-icon{
                                    width: 25px;
                                    height: 25px;
                                    img{
                                        width: 25px;
                                        display: block;
                            
                                    }
                                }
                            }
                            .collapse{
                                background-color: $blackText;
                                position: absolute;
                                top: 69px;
                                right: 0;
                                width: 45%;
                                padding: 20px 40px;
                                .nav-item{
                                    .nav-link{
                                        color: $white;
                                        padding: 10px 0;
                                    }
                                    .dropdown-menu{
                                        background-color: $blackText;
                                        .dropdown-item{
                                            color: $white !important;
                                        }
                                    }
                                }
                            }
                            .show-collapse{
                                display: block;
                                z-index: 100;
                                opacity: 1;
                                
                            }
                            .hide-collapse{
                                display: none;
                                z-index: -100;
                                opacity: 0;
                            }
                            .cta-header{
                                ul{
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
                .hide-hBottom{     
                    transform: translateY(-44px);
                }
            }
        }
        .hero-dec-footer{
            bottom: 80px;
            .container{
                @include container;
                padding:  0 30px;   
            }
        }
    }
 }





// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
     /*HEADER __------HEADER --__------HEADER -----HEADER*/
     .header{
   
        .header-inner{
            .hero-overlay{
                .hero-social{
                    display: none;
                }
                .hero-dec-top{
                    display: none;
                }
                .hero-dec-bottom{
                    display: none;
                }
                .hero-caption-parent{
                    z-index: 500;
                    .container{
                        padding: 0 20px;
                        h4{
                            font-size: 15px;
                        }
                        h1{
                            font-size: 35px;
                            line-height: 45px;
                        }
                        .click-menu{
                            padding: 14px 18px;
                            font-size: 12px;
                            font-weight: 700;
                            i{
                                margin-left: 30px;
                                margin-bottom: 3px;
                            }   
                        }
                    }
                }
            }
            .container{
                padding: 0 00px;
                .header-top{
                    display: none;
                }
                .header-bottom{
                    padding: unset;
                    border:  none;
                    border-bottom: 1px solid $borderEEE;
                    .header-bottom-inner{
                        .navbar{
                            padding-left: 10px;
                            padding-right: 10px;
                            .navbar-toggler{
                                margin-left: auto;
                                padding: 0 10px;
                                border-left: none;
                                align-self: stretch;
                                outline: none;
                                .navbar-toggler-icon{
                                    width: 25px;
                                    height: 25px;
                                    img{
                                        width: 25px;
                                        display: block;
                            
                                    }
                                }
                            }
                            .navbar-brand{
                     
                                img{
                                    width: 95px;
                                }
                            }
                            .collapse{
                                background-color: $blackText;
                                position: absolute;
                                top: 69px;
                                right: 0;
                                width: 50%;
                                padding: 20px 40px;
                                .nav-item{
                                    .nav-link{
                                        color: $white;
                                        padding: 10px 0;
                                    }
                                    .dropdown-menu{
                                        background-color: $blackText;
                                        .dropdown-item{
                                            color: $white !important;
                                        }
                                    }
                                }
                            }
                            .show-collapse{
                                display: block;
                                z-index: 100;
                                opacity: 1;
                                
                            }
                            .hide-collapse{
                                display: none;
                                z-index: -100;
                                opacity: 0;
                            }
                            .cta-header{
                                .cart-details{
                                    display: none;
                                    width: 300px;
                                    height: 470px;
                                    padding: 25px 25px;
                                    position: absolute;
                                    bottom: 0;
                                    right: -10px;
                                    .cart-details-top{
                                        padding-bottom: 20px;
                                        font-weight: 600;
                                        font-size: 19px;
                                        span{
                                            font-size: 12px;
                                        }
                                    }
                                    .cart-item{
                                        padding: 20px 20px 10px 20px;
                                        height: 240px;
                                        
                                        ol{
                                            margin-bottom: 0;
                                            :first-child{
                                                padding-top: 0;
                                            }
                                            :last-child{
                                                padding-bottom: 00px;
                                                border-bottom: 0;
                                            }
                                            li{
                                            
                                                padding: 10px 0; 
                                                border-bottom: 1px dotted $borderEEE;
                                                @include font-second;
                                                display: flex;
                                                position: relative;
                                                .cart-item-counter{
                                                    position: absolute;
                                                    top: 50%;
                                                    left: -20px;
                                                    transform: translateY(-50%);
                                                    color: $golden;
                                                }
                                                .cart-item-cross{
                                                    cursor: pointer;
                                                    position: absolute;
                                                    top: 50%;
                                                    right: 0px;
                                                    transform: translateY(-50%);
                                                    color: $golden;
                                                    img{
                                                        width: 9px;
                                                    }
                                                }
                                                .item-details{
                                                    padding-left: 10px;
                                                    h5{
                                                        @include font-second;
                                                        color: $black111;
                                                        font-size: 13px;
                                                        margin-bottom: 5px
                                                    }
                                                    span{
                                                        @include font-second;
                                                        font-size: 12px;
                                                    }
                                                }
                                            }
                                        }
                                    }
    
                                    .bill{
                                        margin-top: 20px;
                                        margin-bottom: 20px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding: 15px 0;
                                        border-top: 1px dotted $borderEEE;
                                        border-bottom: 1px dotted $borderEEE;
                                        :first-child{
                                            color: $btnBlack;
                                            font-weight: 600;
                                        }
                                        :last-child{
                                            color: $golden;
                                            @include font-second;
                                            font-weight: 600;
                                        }
                                        
                                    }
                                    .checkout{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        &::after{
                                            display: none;
                                        }
                                        button{
                                            background-color: $btnBlack;
                                            color: $white;
                                            font-size: 12px;
                                            font-weight: 700;
                                            width: 120px;
                                            height: 40px;
                                            border: none;
                                            outline:none;
                                            transition: all 500ms ease;
                                            outline: 2px solid $white;
                                            &:hover,&:focus{
                                                outline: 2px solid $btnBlack;
                                            }
                                        }
                                    }
                                }
                                .show-cart-details{
                                    display: block !important;
                                }
                                    ul{
                                        margin-left: 0px;
                                        li:first-child{
                                            position: relative;
                                            .shopping-counter{
                                                position: absolute;
                                                bottom: 10%;
                                                right: 10%;
                                                transform: translate(-50%,-50%);
                                                background-color: $golden;
                                                width: 16px;
                                                height: 16px;
                                                border-radius: 50%;
                                                display: grid;
                                                place-items: center;
                                                p{
                                                    font-size: 10px;
                                                    margin-bottom: 0;
                                                    color: $white;
                                                    font-family: 'Poppins', sans-serif ;
                                                }
                                              
                                            }
                                        }
                                        li{
                                            height: 100%;
                                            padding: 0  12px;
                                            border-left: none;
                                            display: flex;
                                            align-items: center;
                                            font-size: 12px;
                                            
                                            a{
                                                img{
                                                    width: 20px;
                                                }
                                            }
                                        }
                                }
                                
                                
                            }
                        }
                        .share-details{
                            width: 100%;
                            height: 108px;
                            ul{
                                height: 100%;
                                li{
                                    
                                    height: 100%;
                                    margin: 0 10px;
                                    a{
                                        font-size: 10px;
                                        height: 100%;
                                        width: auto;
                              
                                    }
                              
                                }
                            }
                        }
                        
                    }
                }
                .hide-hBottom{     
                    transform: translateY(0px);
                }
            }
        }
    }
}






