.story{
    position: relative;
    overflow: hidden;
    z-index: 000;
    .top-left-dec-dot{
        @include top-left-dec-dot;
    }
    .float-cube{
        position: absolute;
        top: -70px;
        z-index: 00;
        left: 43%;
        width: 90px ;
        transition: all 600ms ease-in-out;
    }
    .float-wave{
        position: absolute;
        bottom: 70px;
        z-index: -100;
        left: 9%;
        width: 90px ;
        transition: all 600ms ease-in-out;
    }
    .section-padding{
        @include section-padding;
        .story-inner{
            @include container;
            .story-lead-text{
                h6{
                    color: $golden2;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 18px;
                    margin-bottom: 12px;
                    position: relative;
                    &::before{
                        @include top-left-dec-dot;
                    }
                }
                h1{
                    color: $blackText2;
                    font-size: 30px;
                    font-weight: 700;
                    position: relative;
                    margin-bottom: 60px;
                    &::after{
                        position: absolute;
                        display: block;
                        content: '......';
                        font-weight: 600;
                        font-size: 20px;
                        letter-spacing: 3px;
                        color: $dots;
                    }
                }
                p{
                    @include font-second;
                    color: $blackSmallText ;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 23px;
                     
                }
                
                a{
                    @include generic-btn;
                }
                :nth-child(4){
                    margin-bottom: 40px;
                }
            }
            .story-img{
                position: relative;
                img:first-child{
                    box-shadow: -3px 10px 12px 2px rgba($color: #000000, $alpha: 0.2);
                    z-index: 100;
                }
                :last-child{
                    width: 380px;
                    position: absolute;
                    z-index: -100;
                    right: -50%;
                    top: 50%;
                    transform: translate(-40%,-50%);
                }
            }
        }
    }
}
.main{
    .main-inner{
        .story{
            position: relative;
            overflow: hidden;
            z-index: 000;
            .top-left-dec-dot{
                @include top-left-dec-dot;
            }
            .float-cube{
                position: absolute;
                top: -70px;
                z-index: 00;
                left: 43%;
                width: 90px ;
                transition: all 600ms ease-in-out;
            }
            .float-wave{
                position: absolute;
                bottom: 70px;
                z-index: -100;
                left: 9%;
                width: 90px ;
                transition: all 600ms ease-in-out;
            }
            .section-padding{
                @include section-padding;
                .story-inner{
                    @include container;
                    .story-lead-text{
                        h6{
                            color: $golden2;
                            font-weight: 600;
                            font-style: italic;
                            font-size: 18px;
                            margin-bottom: 12px;
                            position: relative;
                            &::before{
                                @include top-left-dec-dot;
                            }
                        }
                        h1{
                            color: $blackText2;
                            font-size: 30px;
                            font-weight: 700;
                            position: relative;
                            margin-bottom: 60px;
                            &::after{
                                position: absolute;
                                display: block;
                                content: '......';
                                font-weight: 600;
                                font-size: 20px;
                                letter-spacing: 3px;
                                color: $dots;
                            }
                        }
                        p{
                            @include font-second;
                            color: $blackSmallText ;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 23px;
                             
                        }
                        
                        a{
                            @include generic-btn;
                        }
                        :nth-child(4){
                            margin-bottom: 40px;
                        }
                    }
                    .story-img{
                        position: relative;
                        img:first-child{
                            box-shadow: -3px 10px 12px 2px rgba($color: #000000, $alpha: 0.2);
                            z-index: 100;
                        }
                        :last-child{
                            width: 380px;
                            position: absolute;
                            z-index: -100;
                            right: -50%;
                            top: 50%;
                            transform: translate(-40%,-50%);
                        }
                    }
                }
            }
        }
        //story end end story end

        // RESERVATION START -RESERVATION START_---- RESERVATION START -RESERVATION START_----
        .reservations{
            .reservations-inner{
                .row{
                    .chef-quote-parent{
                        position: relative;
                        background-repeat:  no-repeat;
                        background-size: 1300px;
                        background-position: center;
                        .chef-quote-inner{
                            background-color: rgba($color: #000000, $alpha: 0.5);
                            padding: 200px 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .chef-quote{
                                text-align: center;
                                img{
                                    margin-bottom: 20px;
                                    width: 40px;
                                }
                                p{
                                    font-size: 15px;
                                    text-align: center;
                                    color: $white;
                                    line-height: 28px;
                                    margin-bottom: 60px;
                                }
                                .chef-signature{
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    h6{
                                        color:$white;
                                        @include font-second;
                                        font-weight: 700;
                                        font-size: 14px;
                                        margin-bottom: 0;
                                        margin-right: 40px;
                                    }
                                    img{
                                        width: 150px;
                                        margin-bottom: 0;
                                    }
                                }
                                
                            
                            }
                        }
                    }
                    .opening-parent{
                        
                        .opening{
                            width: 100%;
                            height: 100%;
                            padding: 50px ;
                            background-color: rgba(48, 48, 48, 01);
                            background-repeat: no-repeat;
                            background-size: 990px;
                            
                            .opening-inner{
                                box-shadow: 0px 0px 0px 50px rgba(54, 54, 54, 0.5);
                                background-color: rgba(41, 41, 41, 0.8);
                                width: 100%;
                                height: 100%;
                                border: 1px dashed rgba(167, 167, 167, 0.5);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .opening-caption{
                                    width: 100%;
                                    .opening-heading{
                                        text-align: center;
                                        h6{
                                            color:  $golden;
                                            font-size: 20px;
                                            font-style: italic;
                                            margin-bottom: 12px;
                                        }
                                        h2{
                                            margin-bottom: 60px;
                                            color : $white;
                                            font-weight: 700;
                                            position: relative;
                                            &::after{
                                                @include heading-dots;
                                                color: $golden;
                                            }
                                        }
                                    }
                                    .opening-hours{
                                        .row{
                                            position: relative;
                                            .col-sm-6{
                                                display: flex;
                                                justify-content: flex-end;
                                                ul{
                                                    margin-right: 70px;
                                                    :first-child{
                                                        color: $golden;
                                                        @include font-second;
                                                        font-size: 13px;
                                                        position: relative;
                                                 
                                                    }
                                                    :nth-child(2){
                                                        margin-top: 10px;
                                                        text-align: center;
                                                        font-size: 30px;
                                                        @include font-second;
                                                        color: $white;
                                                        font-weight: 600;
                                                    }
                                                    :last-child{
                                                        margin-top: 5px;
                                                        text-align: center;
                                                        font-size: 30px;
                                                        @include font-second;
                                                        color: $white;
                                                        font-weight: 600;
                                                        position: relative;
                                                        &::after{
                                                            position: absolute;
                                                            display: block;
                                                            content: '';
                                                            bottom: -60px;
                                                            width: 100%;
                                                            left: 50%;
                                                            transform: translateX(-50%);
                                                            height: 1px;
                                                            background-color:  $golden;
                                                            opacity: 0.5;
                                                        }
                                                    }
                                                        
                                                    
                                                }

                                            }
                                            :last-child{
                                                justify-content: flex-start;
                                                ul{
                                                    margin-right: unset;
                                                    margin-left: 70px;
                                                }
                                            }
                                            &::before{
                                                @include font-second;
                                                position: absolute;
                                                display: block;
                                                content: 'xxxxxxxxxxxx';
                                                letter-spacing: 1px;
                                                opacity: 0.7;
                                                left: 50%;
                                                top: 50%;
                                                color: $golden;
                                                text-transform: uppercase;
                                                transform:  translate(-50%,-50%)  rotate(90deg);
                                                
                                            }
                                            &:after{
                                                width: 7px;
                                                height: 7px;
                                                border-radius: 50%;
                                                display: block;
                                                content: '';
                                                position: absolute;
                                                bottom: -63px;
                                                left: 50%;
                                                transform: translateX(-50%);
                                                background-color: $white;
                                            }
                                        }
                                    }
                                    .hotel-number{
                                        width: 255px;
                                        font-size: 29px;
                                        font-weight: 600;
                                        color:  $white;
                                        border: 1px solid $golden;
                                        padding: 6px 20px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin: 110px auto 0 auto;
                                        transition: all 400ms ease-in-out;
                                        &:hover{
                                            color: $golden;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //RESERVATION END ----_--- RESERVATION END --__
    }
}