/* MIX INS MIX INS*/
/*animation*/
@-webkit-keyframes mouseScroll {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0.9;
  }
  to {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
    opacity: 0;
  }
}
@keyframes mouseScroll {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0.9;
  }
  to {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
    opacity: 0;
  }
}

@-webkit-keyframes showCartDetails {
  from {
    opacity: 0;
    right: 0px;
  }
  to {
    opacity: 1;
    right: -25px;
  }
}

@keyframes showCartDetails {
  from {
    opacity: 0;
    right: 0px;
  }
  to {
    opacity: 1;
    right: -25px;
  }
}

@-webkit-keyframes hideCartDetails {
  from {
    opacity: 1;
    right: -25px;
  }
  to {
    opacity: 0;
    right: 0px;
  }
}

@keyframes hideCartDetails {
  from {
    opacity: 1;
    right: -25px;
  }
  to {
    opacity: 0;
    right: 0px;
  }
}

@-webkit-keyframes opacity-0to1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-0to1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: unset;
}

.header {
  position: relative;
}

.header .brush-bottom {
  position: absolute;
  bottom: 0%;
  z-index: 12;
  background-image: url(./assets/img/dec/brush-dec.png);
  background-position: 0px;
  width: 100%;
  height: 45px;
}

.header .hero-dec-footer {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

.header .hero-dec-footer .container {
  max-width: 1239px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.header .hero-dec-footer .container .discover-parent {
  position: relative;
  z-index: 200;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hero-dec-footer .container .discover-parent span {
  margin-bottom: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 20px;
}

.header .hero-dec-footer .container .discover-parent .mouse {
  width: 20px;
  height: 30px;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid white;
  position: relative;
}

.header .hero-dec-footer .container .discover-parent .mouse::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.9;
  -webkit-animation: mouseScroll 3s ease infinite;
          animation: mouseScroll 3s ease infinite;
}

.header .hero-dec-footer .container .discover-parent .double-arrow {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 300;
}

.header .hero-dec-footer .container .discover-parent .double-arrow a .icon-two-down-arrows {
  width: 17px;
}

.header .hero-dec-footer .container .discover-parent .double-arrow a .icon-two-down-arrows::before {
  color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header .hero-dec-footer .container .discover-parent .double-arrow a:hover .icon-two-down-arrows::before {
  color: #b19058;
}

.header .video-btn-parent {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 500;
}

.header .video-btn-parent .video-btn {
  padding: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .video-btn-parent .video-btn div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.header .video-btn-parent .video-btn div img {
  width: 50px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.2);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header .video-btn-parent .video-btn div:hover img {
  -webkit-box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.2);
}

.header .video-btn-parent .video-btn span {
  margin-left: 30px;
  color: white;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}

.header .embedded-video-parent {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-inner {
  position: relative;
  height: 100vh;
}

.header .header-inner .hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 00;
  overflow: hidden;
}

.header .header-inner .hero-overlay .hero-dec-top {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 52px;
  left: 80px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: transparent;
  border-left: 1px dotted rgba(255, 255, 255, 0.4);
  border-top: 1px dotted rgba(255, 255, 255, 0.4);
}

.header .header-inner .hero-overlay .hero-dec-bottom {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 52px;
  left: 80px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: transparent;
  border-left: 1px dotted rgba(255, 255, 255, 0.4);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
}

.header .header-inner .hero-overlay .hero-social {
  position: absolute;
  left: 52px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 300;
}

.header .header-inner .hero-overlay .hero-social li {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header .header-inner .hero-overlay .hero-social li :hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header .header-inner .hero-overlay .hero-social li a {
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header .header-inner .hero-overlay .hero-caption-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.header .header-inner .hero-overlay .hero-caption-parent .container {
  -webkit-transform: unset;
          transform: unset;
  position: unset !important;
  max-width: 1239px;
  padding: 0 15px;
  margin: 0 auto;
  color: white;
}

.header .header-inner .hero-overlay .hero-caption-parent .container h4 {
  position: relative;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;
}

.header .header-inner .hero-overlay .hero-caption-parent .container h4::before {
  display: block;
  position: absolute;
  top: -45px;
  content: '. . . . .';
  font-weight: 800;
  height: 5px;
  width: 50px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.header .header-inner .hero-overlay .hero-caption-parent .container h1 {
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-bottom: 55px;
  line-height: 70px;
}

.header .header-inner .hero-overlay .hero-caption-parent .container .click-menu {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: rgba(133, 133, 133, 0.2);
  color: white;
  padding: 14px 20px;
  border: 1px solid #b19058;
  font-size: 13px;
  font-weight: 700;
}

.header .header-inner .hero-overlay .hero-caption-parent .container .click-menu i {
  margin-left: 30px;
  margin-bottom: 3px;
}

.header .header-inner .hero-overlay .hero-caption-parent .container .click-menu:hover {
  background-color: white;
  color: #222222;
  border: 1px solid white;
}

.header .header-inner .hero-overlay .hero-caption-parent .container .click-menu:hover i::before {
  color: #b19058;
}

.header .header-inner .container {
  position: fixed !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0%;
  max-width: 1239px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 15;
}

.header .header-inner .container .header-top {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  padding-bottom: 18px;
}

.header .header-inner .container .header-top .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-inner .container .header-top .language li {
  margin: 0 5px;
  color: white;
}

.header .header-inner .container .header-top .language li:first-child a {
  color: #b19058;
}

.header .header-inner .container .header-top .language li span {
  font-size: 13px;
}

.header .header-inner .container .header-top .language li a {
  font-weight: 600;
  font-size: 13px;
  color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header .header-inner .container .header-top .language li a:hover {
  text-decoration: none;
  color: #b19058;
}

.header .header-inner .container .header-top .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-inner .container .header-top .header-contact li {
  margin: 0 15px;
  cursor: pointer;
}

.header .header-inner .container .header-top .header-contact li:hover a {
  color: #b19058;
}

.header .header-inner .container .header-top .header-contact li:hover span {
  color: white;
}

.header .header-inner .container .header-top .header-contact li span {
  color: #b19058;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  padding-right: 10px;
}

.header .header-inner .container .header-top .header-contact li a {
  color: white;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.header .header-inner .container .header-bottom {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 1px solid #eee;
}

.header .header-inner .container .header-bottom .header-bottom-inner {
  background-color: white;
  position: relative;
  z-index: 1200;
}

.header .header-inner .container .header-bottom .header-bottom-inner .share-details {
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 108px;
  background-color: #f9f9f9;
  position: absolute;
  bottom: 0;
  left: 0%;
  z-index: 700;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  border: 1px solid #eee;
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-inner .container .header-bottom .header-bottom-inner .share-details ul {
  height: 100%;
  padding: none;
  margin: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .share-details ul li {
  height: 100%;
  margin: 0 20px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .share-details ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: auto;
  font-size: 14px;
  font-weight: 800;
  color: #222222;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header .header-inner .container .header-bottom .header-bottom-inner .share-details ul li:hover a {
  color: #b19058;
  text-decoration: underline;
}

.header .header-inner .container .header-bottom .header-bottom-inner .show-share-anime {
  -webkit-animation: show-share 500ms ease-in forwards;
          animation: show-share 500ms ease-in forwards;
}

.header .header-inner .container .header-bottom .header-bottom-inner .hide-share-anime {
  -webkit-animation: hide-share 500ms ease-out forwards 500ms;
          animation: hide-share 500ms ease-out forwards 500ms;
}

@-webkit-keyframes show-share {
  from {
    height: 0px;
  }
  to {
    height: 108px;
    border-top: 1;
    border-bottom: 1;
  }
}

@keyframes show-share {
  from {
    height: 0px;
  }
  to {
    height: 108px;
    border-top: 1;
    border-bottom: 1;
  }
}

@-webkit-keyframes hide-share {
  from {
    height: 108px;
  }
  to {
    height: 0px;
    border-top: 0;
    border-bottom: 0;
  }
}

@keyframes hide-share {
  from {
    height: 108px;
  }
  to {
    height: 0px;
    border-top: 0;
    border-bottom: 0;
  }
}

.header .header-inner .container .header-bottom .header-bottom-inner .show-share-link {
  -webkit-animation: show-share-link 600ms ease-in  forwards 500ms;
          animation: show-share-link 600ms ease-in  forwards 500ms;
}

.header .header-inner .container .header-bottom .header-bottom-inner .hide-share-link {
  -webkit-animation: hide-share-link 600ms ease-in forwards;
          animation: hide-share-link 600ms ease-in forwards;
}

@-webkit-keyframes show-share-link {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-share-link {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hide-share-link {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hide-share-link {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar {
  height: 69px;
  padding: 0 25px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler {
  border: unset;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: unset;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-brand {
  padding: unset;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-brand img {
  width: 137px;
  display: block;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item:hover .nav-link {
  color: #b19058;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  padding: 5px 13px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .active a {
  color: #b19058 !important;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details {
  border-top: 1px solid #eee;
  opacity: 0;
  z-index: -900;
  background-color: white;
  width: 400px;
  height: 470px;
  padding: 25px 25px;
  position: absolute;
  bottom: 0;
  right: 0px;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-details-top {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-details-top span {
  color: #555;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item {
  padding: 20px 20px 10px 20px;
  height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item::-webkit-scrollbar {
  width: 6px;
  border-top: 3px solid transparent;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item::-webkit-scrollbar-thumb {
  border-top: 10px solid transparent;
  background: #b19058;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol {
  margin-bottom: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol :first-child {
  padding-top: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol :last-child {
  padding-bottom: 00px;
  border-bottom: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li {
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .cart-item-counter {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #b19058;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .cart-item-cross {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #b19058;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .cart-item-cross img {
  width: 9px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .item-details {
  padding-left: 20px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .item-details h5 {
  font-family: 'Poppins', sans-serif;
  color: #111;
  font-size: 13px;
  margin-bottom: 5px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .item-details span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .bill {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .bill :first-child {
  color: #292929;
  font-weight: 600;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .bill :last-child {
  color: #b19058;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout::after {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 1px;
  background-color: #ccc;
  left: 47%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout button {
  background-color: #292929;
  color: white;
  font-size: 12px;
  font-weight: 700;
  width: 160px;
  height: 40px;
  border: none;
  outline: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  outline: 2px solid white;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout button:hover, .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout button:focus {
  outline: 2px solid #292929;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .show-cart-details {
  display: block  !important;
  z-index: 900;
  -webkit-animation: showCartDetails 300ms ease-in-out forwards;
          animation: showCartDetails 300ms ease-in-out forwards;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .hide-cart-details {
  -webkit-animation: hideCartDetails 300ms ease-in-out forwards;
          animation: hideCartDetails 300ms ease-in-out forwards;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child {
  position: relative;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child:hover .hover-cart {
  opacity: 1;
  z-index: 100;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child .hover-cart {
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  opacity: 0;
  z-index: -300;
  background-color: white;
  position: absolute;
  bottom: 0px;
  right: 0;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  width: 140px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #eee;
  border-top: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child .hover-cart p {
  font-family: 'Playfair Display';
  text-align: center;
  color: #222222;
  font-weight: 600;
  margin-bottom: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child .shopping-counter {
  position: absolute;
  bottom: 10%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #b19058;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child .shopping-counter p {
  font-size: 10px;
  margin-bottom: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:nth-child(2) {
  position: relative;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:nth-child(2):hover .hover-share {
  opacity: 1;
  z-index: 100;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:nth-child(2) .hover-share {
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  opacity: 0;
  z-index: -300;
  background-color: white;
  position: absolute;
  bottom: 0px;
  right: 0;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  width: 140px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #eee;
  border-top: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:nth-child(2) .hover-share p {
  font-family: 'Playfair Display';
  text-align: center;
  color: #222222;
  font-weight: 600;
  margin-bottom: 0;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li {
  cursor: pointer;
  height: 100%;
  padding: 0  26px;
  border-left: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li a {
  color: #222222;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li a img {
  width: 20px;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul .reservation {
  position: relative;
  z-index: 100;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul .reservation a {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul .reservation::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: calc(116px + 25px);
  height: 0%;
  background-color: #b19058;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: -100;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul .reservation:hover a {
  color: white;
}

.header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul .reservation:hover::before {
  height: 100%;
}

.header .header-inner .container .hide-hBottom {
  -webkit-transform: translateY(-52px);
          transform: translateY(-52px);
}

.story {
  position: relative;
  overflow: hidden;
  z-index: 000;
}

.story .top-left-dec-dot {
  display: block;
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: -70px;
  left: -70px;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  background-color: transparent;
  border-left: 1px dotted #b19058;
  border-top: 1px dotted #b19058;
}

.story .float-cube {
  position: absolute;
  top: -70px;
  z-index: 00;
  left: 43%;
  width: 90px;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.story .float-wave {
  position: absolute;
  bottom: 70px;
  z-index: 00;
  left: 9%;
  width: 90px;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.story .section-padding {
  padding: 140px 0px;
}

.story .section-padding .story-inner {
  max-width: 1239px;
  padding: 0 15px;
  margin: 0 auto;
}

.story .section-padding .story-inner .story-lead-text h6 {
  color: #C19D60;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 12px;
  position: relative;
}

.story .section-padding .story-inner .story-lead-text h6::before {
  display: block;
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: -70px;
  left: -70px;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  background-color: transparent;
  border-left: 1px dotted #b19058;
  border-top: 1px dotted #b19058;
}

.story .section-padding .story-inner .story-lead-text h1 {
  color: #323246;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 60px;
}

.story .section-padding .story-inner .story-lead-text h1::after {
  position: absolute;
  display: block;
  content: '......';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 3px;
  color: #333;
}

.story .section-padding .story-inner .story-lead-text p {
  font-family: 'Poppins', sans-serif;
  color: #5e646a;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}

.story .section-padding .story-inner .story-lead-text a {
  width: 205px;
  height: 45px;
  background-color: #292929;
  color: white;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.story .section-padding .story-inner .story-lead-text a img {
  position: relative;
  width: 13px;
  margin-left: 30px;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.story .section-padding .story-inner .story-lead-text a:hover {
  background-color: #b19058;
}

.story .section-padding .story-inner .story-lead-text a:hover img {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.story .section-padding .story-inner .story-lead-text :nth-child(4) {
  margin-bottom: 40px;
}

.story .section-padding .story-inner .story-img {
  position: relative;
}

.story .section-padding .story-inner .story-img img:first-child {
  -webkit-box-shadow: -3px 10px 12px 2px rgba(0, 0, 0, 0.2);
          box-shadow: -3px 10px 12px 2px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.story .section-padding .story-inner .story-img :last-child {
  width: 380px;
  position: absolute;
  z-index: -100;
  right: -50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

@media (min-width: 1200px) and (max-width: 1568px) {
  .hero-social {
    display: none;
  }
  .hero-dec-top {
    display: none;
  }
  .hero-dec-bottom {
    display: none;
  }
}

@media (min-width: 1200px) {
  /*HEADER __------HEADER --__------HEADER -----HEADER*/
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /*HEADER __------HEADER --__------HEADER -----HEADER*/
  .header .hero-dec-footer .container {
    padding: 0 30px;
  }
  .header .header-inner .hero-overlay .hero-social {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-top {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-bottom {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container {
    padding: 0 30px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h4 {
    font-size: 15px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu {
    padding: 14px 18px;
    font-size: 13px;
    font-weight: 700;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu i {
    margin-left: 30px;
    margin-bottom: 3px;
  }
  .header .header-inner .container {
    padding: 0 30px;
  }
  .header .header-inner .container .header-top {
    padding: 10px 0;
  }
  .header .header-inner .container .header-top .header-contact li {
    margin: 0 15px;
  }
  .header .header-inner .container .hide-hBottom {
    -webkit-transform: translateY(-44px);
            transform: translateY(-44px);
  }
  .header .embedded-video-parent iframe {
    width: 890px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /*HEADER __------HEADER --__------HEADER -----HEADER*/
  .header .header-inner .hero-overlay .hero-social {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-top {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-bottom {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container {
    padding: 0 30px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h4 {
    font-size: 15px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h1 {
    font-size: 45px;
    line-height: 60px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu {
    padding: 14px 18px;
    font-size: 13px;
    font-weight: 700;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu i {
    margin-left: 30px;
    margin-bottom: 3px;
  }
  .header .header-inner .container {
    padding: 0 30px;
  }
  .header .header-inner .container .header-top {
    padding: 10px 0;
  }
  .header .header-inner .container .header-top .header-contact li {
    margin: 0 15px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler {
    margin-left: auto;
    padding: 0 26px;
    border-left: 1px solid #e2e2e2;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    outline: none;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler .navbar-toggler-icon img {
    width: 25px;
    display: block;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse {
    background-color: #222222;
    position: absolute;
    top: 69px;
    right: 0;
    width: 45%;
    padding: 20px 40px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .nav-link {
    color: white;
    padding: 10px 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .dropdown-menu {
    background-color: #222222;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .dropdown-menu .dropdown-item {
    color: white !important;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .show-collapse {
    display: block;
    z-index: 100;
    opacity: 1;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .hide-collapse {
    display: none;
    z-index: -100;
    opacity: 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul {
    margin-left: 0px;
  }
  .header .header-inner .container .hide-hBottom {
    -webkit-transform: translateY(-44px);
            transform: translateY(-44px);
  }
  .header .hero-dec-footer .container {
    max-width: 1239px;
    padding: 0 15px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .header .brush-bottom {
    position: absolute;
    bottom: -1px;
    z-index: 12;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /*HEADER __------HEADER --__------HEADER -----HEADER*/
  .header .header-inner .hero-overlay .hero-social {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-top {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-bottom {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container {
    padding: 0 30px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h4 {
    font-size: 15px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu {
    padding: 14px 18px;
    font-size: 13px;
    font-weight: 700;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu i {
    margin-left: 30px;
    margin-bottom: 3px;
  }
  .header .header-inner .container {
    padding: 0 00px;
  }
  .header .header-inner .container .header-top {
    padding: 10px 0;
  }
  .header .header-inner .container .header-top .header-contact li {
    margin: 0 15px;
  }
  .header .header-inner .container .header-bottom {
    border-left: none;
    border-right: none;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler {
    margin-left: auto;
    padding: 0 26px;
    border-left: 1px solid #e2e2e2;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    outline: none;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler .navbar-toggler-icon img {
    width: 25px;
    display: block;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse {
    background-color: #222222;
    position: absolute;
    top: 69px;
    right: 0;
    width: 45%;
    padding: 20px 40px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .nav-link {
    color: white;
    padding: 10px 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .dropdown-menu {
    background-color: #222222;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .dropdown-menu .dropdown-item {
    color: white !important;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .show-collapse {
    display: block;
    z-index: 100;
    opacity: 1;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .hide-collapse {
    display: none;
    z-index: -100;
    opacity: 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul {
    margin-left: 0px;
  }
  .header .header-inner .container .hide-hBottom {
    -webkit-transform: translateY(-44px);
            transform: translateY(-44px);
  }
  .header .hero-dec-footer {
    bottom: 80px;
  }
  .header .hero-dec-footer .container {
    max-width: 1239px;
    padding: 0 15px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (max-width: 575.98px) {
  /*HEADER __------HEADER --__------HEADER -----HEADER*/
  .header .header-inner .hero-overlay .hero-social {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-top {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-dec-bottom {
    display: none;
  }
  .header .header-inner .hero-overlay .hero-caption-parent {
    z-index: 500;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container {
    padding: 0 20px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h4 {
    font-size: 15px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container h1 {
    font-size: 35px;
    line-height: 45px;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu {
    padding: 14px 18px;
    font-size: 12px;
    font-weight: 700;
  }
  .header .header-inner .hero-overlay .hero-caption-parent .container .click-menu i {
    margin-left: 30px;
    margin-bottom: 3px;
  }
  .header .header-inner .container {
    padding: 0 00px;
  }
  .header .header-inner .container .header-top {
    display: none;
  }
  .header .header-inner .container .header-bottom {
    padding: unset;
    border: none;
    border-bottom: 1px solid #eee;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler {
    margin-left: auto;
    padding: 0 10px;
    border-left: none;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    outline: none;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler .navbar-toggler-icon {
    width: 25px;
    height: 25px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-toggler .navbar-toggler-icon img {
    width: 25px;
    display: block;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .navbar-brand img {
    width: 95px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse {
    background-color: #222222;
    position: absolute;
    top: 69px;
    right: 0;
    width: 50%;
    padding: 20px 40px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .nav-link {
    color: white;
    padding: 10px 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .dropdown-menu {
    background-color: #222222;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .collapse .nav-item .dropdown-menu .dropdown-item {
    color: white !important;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .show-collapse {
    display: block;
    z-index: 100;
    opacity: 1;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .hide-collapse {
    display: none;
    z-index: -100;
    opacity: 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details {
    display: none;
    width: 300px;
    height: 470px;
    padding: 25px 25px;
    position: absolute;
    bottom: 0;
    right: -10px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-details-top {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 19px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-details-top span {
    font-size: 12px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item {
    padding: 20px 20px 10px 20px;
    height: 240px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol {
    margin-bottom: 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol :first-child {
    padding-top: 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol :last-child {
    padding-bottom: 00px;
    border-bottom: 0;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li {
    padding: 10px 0;
    border-bottom: 1px dotted #eee;
    font-family: 'Poppins', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .cart-item-counter {
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #b19058;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .cart-item-cross {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #b19058;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .cart-item-cross img {
    width: 9px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .item-details {
    padding-left: 10px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .item-details h5 {
    font-family: 'Poppins', sans-serif;
    color: #111;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .cart-item ol li .item-details span {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .bill {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
    border-top: 1px dotted #eee;
    border-bottom: 1px dotted #eee;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .bill :first-child {
    color: #292929;
    font-weight: 600;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .bill :last-child {
    color: #b19058;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout::after {
    display: none;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout button {
    background-color: #292929;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    outline: 2px solid white;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout button:hover, .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .cart-details .checkout button:focus {
    outline: 2px solid #292929;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header .show-cart-details {
    display: block !important;
    right: -10px !important;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul {
    margin-left: 0px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child {
    position: relative;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child .shopping-counter {
    position: absolute;
    bottom: 10%;
    right: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #b19058;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li:first-child .shopping-counter p {
    font-size: 10px;
    margin-bottom: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li {
    height: 100%;
    padding: 0  12px;
    border-left: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .navbar .cta-header ul li a img {
    width: 20px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .share-details {
    width: 100%;
    height: 108px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .share-details ul {
    height: 100%;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .share-details ul li {
    height: 100%;
    margin: 0 10px;
  }
  .header .header-inner .container .header-bottom .header-bottom-inner .share-details ul li a {
    font-size: 10px;
    height: 100%;
    width: auto;
  }
  .header .header-inner .container .hide-hBottom {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=custom.css.map */